<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div ng-controller="brandController">
  <form action="/brand" method="post">
    <input type="text" name="brand_name" placeholder="Brand Name">
  </form>
  <br><br>
  Or 
  <br><br>
  <table>
    <tr ng-repeat="invitation in invitations">
      <td>{{invitation.brand_name}}</td>
      <td>Invited by: {{invitation.user_name}}</td>
      <td><a href="/invitation/{{invitation.id}}/edit">Accept</a></td>
    </tr>
  </table>

</div>

<script type="text/javascript">
  var invitations = <%= @invitations.to_json.html_safe %>
</script>