<div class="container-fluid">
  <div class="container indexContainer">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="header">
          <h1 class="forgot-h1">Edit User</h1>
        </div>
        <form action="/users"  method="post"><input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="put">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

            <div class="form-group">
              <input type="text" name="user[username]" value="<%= current_user.username %>" class="form-control">
            </div>
            <div class="form-group">
              <input type="email" value="<%= current_user.email %>" name="user[email]" id="user_email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <div class="input-group custom-file-input">
                <input type="file" name="user[avatar]">
                <input type="text" class="form-control browse-file-input" value="<%= current_user.avatar %>" placeholder="Profile picture">
                <span class="input-group-btn">
                  <button type="button" class="btn browse-btn">
                    <i class="fa fa-plus fa-lg"></i>
                  </button>
                </span>
              </div>
            </div>        
            <div class="form-group">
              <input type="password" name="user[password]" id="user_password" class="form-control"
              placeholder="New password">
            </div>
            <div class="form-group">
               <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Confirm new password">
            </div>
            <div class="form-group">
              <input type="password" name="user[current_password]" id="user_current_password" class="form-control" placeholder="Old password">
            </div>
            <div>
              <input type="submit" name="commit" value="Update password" data-disable-with="Update" class="form-control">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
