<div class="container-fluid">
  <div class="container indexContainer">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="header">
          <h1 class="forgot-h1">Change your password?</h1>
        </div>
        <form name="resetPasswordForm" action="/users/password" method="POST">
        <input type="hidden" name="_method" value="put">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       <input type="hidden" value="<%= params[:reset_password_token] %>" name="user[reset_password_token]" id="user_reset_password_token" />
          <div class="form-group">
            <input type="password" class="form-control" placeholder="New password" name="user[password]">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm new password" name="user[password_confirmation]">
          </div>

          <div class="reset-btn">
          <input type="submit" class="btn btn-default form-control" name="commit" value="Reset">
          </div>

          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                 <input type="button" class="btn btn-default defaultButtonsIndex" onclick="location.href='/users/sign_in'" value="Login" />
              </div>
              <div class="col-md-4">
                 <input type="button" class="btn btn-default defaultButtonsIndex" onclick="location.href='/users/sign_up'" value="Sign Up" />
              </div>
              <div class="clearfix"></div>
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>


